@inherits LayoutComponentBase

<div class="main-layout">


    <main class="content">
        @Body
    </main>

    <footer class="footer">
        <p>&copy; Melika Zolfagharian 2025 Blazor</p>
    </footer>
</div>
