@page "/"
<!-- innehållet till hemsidan -->
<h1>Välkommen till min Blazor WebAssembly Webbplats</h1>
<div class="row">
    <div class="col-md-6">
        <p>Denna webbplats är byggd med Blazor WebAssembly och all dynamisk interaktion hanteras med C#-kod. Här kan du konvertera enheter, läsa in JSON-data.</p>

        <ul>
            <li><strong>Konvertering:</strong> Omvandla mellan enheter som meter till fot eller km/h till miles per timme.</li>
            <li><strong>JSON:</strong> Ladda in och visa JSON-data från en extern fil.</li>
        </ul>
    </div>
</div>
